.movie-img {
    max-height: 200px;
    margin-right: 2rem;
}

#root {
    background-color: #121212;
}

.blue-shadow {
    box-shadow: 0px 0px 15px 4px rgba(0, 166, 255, 0.8);
}

.text-led {
    color: #0066ff;
    /* Blu più saturo e vibrante */
    text-shadow: 0 0 8px #3399ff, 0 0 16px #005bbb;
}